<div class="card">

  <nav class="navbar navbar-expand-lg bg-white text-black border-bottom">

    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
       <h2 class="text-black caption py-2">Tipe Barang</h2>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
       <li class="nav-item">
        <button
        class="btn btn-success" id="menu-toggle" routerLink="/save-TypeBarang">Input Tipe Barang</button>
       </li>
     </ul>
 </nav>

  <div class="card-body">

    <!-- <table class="table table-bordered table-striped"> -->
      <table  class="table table-hover table-sm py-4" datatable [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id Type</th>
          <th scope="col">Tipe Barang</th>
          <th scope="col">Jenis Barang</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let typeBarang of listTypeBarang">
          <td>{{ typeBarang.idType }}</td>
          <td>{{ typeBarang.tipeBarang }}</td>
          <td>{{ typeBarang.jenisBarang }}</td>
          <td>
            <button (click)="editType(typeBarang.idType)" class="btn btn-success" style="margin-left: 10px">Edit</button>&nbsp;

            <button (click)="deleteType(typeBarang.idType)" class='btn btn-danger'>
              <i class="fa fa-futboll-0">Delete</i>
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
