<div class="card">

  <nav class="navbar navbar-expand-lg bg-white text-black border-bottom">

    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
       <h2 class="text-black caption py-2">List Barang</h2>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
       <li class="nav-item">
        <button
        class="btn btn-success" id="menu-toggle" routerLink="/save-Barang">Tambah Barang</button>&nbsp;
        <button class="btn btn-primary" id="menu-toggle" (click)="downloadFile()">Download File</button>
       </li>
     </ul>
 </nav>

  <div class="card-body">
    <!-- <div class="panel-body"> -->
    <!-- <table class="table table-bordered table-striped" datatable [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger"> -->
      <table  class="table table-hover table-sm py-4" datatable [dtOptions]="dtOptions"
      [dtTrigger]="dtTrigger">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id Barang</th>
          <th scope="col">Nama Barang</th>
          <th scope="col">Harga Satuan</th>
          <th scope="col">Jenis Barang</th>
          <th scope="col">Nama Supplier</th>
          <th scope="col">Stock Barang</th>
          <th scope="col">Action</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let barang of listBarang">
          <td>{{ barang.idBarang }}</td>
          <td>{{ barang.namaBarang }}</td>
          <td>{{ barang.harga.hargaSatuan }}</td>
          <td>{{ barang.tipeBarang.jenisBarang }}</td>
          <td>{{ barang.supplier.namaSupplier }}</td>
          <td>{{ barang.stockBarang }}</td>
          <td>
            <button (click)="updateBarang(barang.idBarang)" class="btn btn-success" style="margin-left: 10px">Edit</button>&nbsp;

            <button (click)="deleteBarang(barang.idBarang)" class='btn btn-danger'>
              <i class="fa fa-futboll-0">Delete</i>
            </button>

          </td>
        </tr>
      </tbody>
    </table>
  </div>
<!-- </div> -->
</div>
