<div class="card my-5">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
      <ul class="navbar-nav mt-2 mt-lg-0">
         <li class="nav-item">
          <a class="nav-link text-white" >Edit Harga</a>
         </li>
       </ul>
   </nav>
<div class="card-body">
<form (ngSubmit)="onSubmit()" #hargaForm="ngForm">
<div class="form-group">
  <label for="hargaSatuan">Harga Satuan</label>
  <input type="number" [(ngModel)]="harga.hargaSatuan"
    class="form-control"
    id="hargaSatuan"
    name="hargaSatuan"
    required #hargaSatuan="ngModel">
</div>
<div class="form-group">
  <label for="discount">Discount %</label>
  <input type="number" [(ngModel)]="harga.discount"
    class="form-control"
    id="discount"
    name="discount"
    required #discount="ngModel">
</div>
<button type="submit" [disabled]="!hargaForm.form.valid"
  class="btn btn-info">Save</button>&nbsp;

  <button
  class="btn btn-success" routerLink="/list-Harga">Back</button>
</form>
</div>
</div>
