<div class="card my-5">

  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">

    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
       <a class="nav-link" routerLink="/list-Transaksi">List Transaksi</a>
      </li>
    </ul>
 </nav>

  <div class="card-body">

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id Detail Transaksi</th>
          <th scope="col">Nama Barang</th>
          <th scope="col">Harga Sauan</th>
          <th scope="col">Jumlah Barang</th>
          <th scope="col">Total Harga</th>
          <th scope="col">Transaction Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detailTransaksi of detailTrx">
          <td>{{ detailTransaksi.idTrxDetail }}</td>
          <td>{{ detailTransaksi.barang.namaBarang }}</td>
          <td>{{ detailTransaksi.barang.harga.hargaSatuan }}</td>
          <td>{{ detailTransaksi.jumlahBarang }}</td>
          <td>{{ detailTransaksi.totalHarga }}</td>
          <td>{{ detailTransaksi.transactionDate }}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
