<div class="card">

  <nav class="navbar bg-white border-bottom">
    <ul class="navbar-nav mt-2 mt-lg-0">
      <li class="nav-item">
       <h2 class="text-black caption py-2" >Detail Transaksi</h2>
      </li>
    </ul>
 </nav>

  <div class="card-body">
  <div class="py-2">
       <button
       class="btn btn-success" routerLink="/list-Transaksi">Back</button>
  </div>

    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Id Detail Transaksi</th>
          <th scope="col">Nama Barang</th>
          <th scope="col">Harga Sauan</th>
          <th scope="col">Jumlah Barang</th>
          <th scope="col">Total Harga</th>
          <th scope="col">Transaction Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let detailTransaksi of detailTrx">
          <td>{{ detailTransaksi.idTrxDetail }}</td>
          <td>{{ detailTransaksi.barang.namaBarang }}</td>
          <td>{{ detailTransaksi.barang.harga.hargaSatuan }}</td>
          <td>{{ detailTransaksi.jumlahBarang }}</td>
          <td>{{ detailTransaksi.totalHarga }}</td>
          <td>{{ detailTransaksi.transactionDate }}</td>
          </tr>
      </tbody>
    </table>
  </div>
</div>
