<div class="d-flex" id="wrapper">

	<!-- Sidebar -->
	<div class="bg-dark border-right" id="sidebar-wrapper" *ngIf="isLoggedIn">
		<div class="sidebar-heading">
            <h2 class="py-5 bg-img"></h2>
            <h2 class="list-inline caption text-white py-3">{{ title }}</h2>
		</div>
		<div class="list-group list-group-flush">
      <a routerLink="/list-Barang" class="list-group-item list-group-item-action text-white bg-dark">Barang</a>
      <a routerLink="/list-Harga" class="list-group-item list-group-item-action text-white bg-dark">Harga</a>
      <a routerLink="/list-TypeBarang" class="list-group-item list-group-item-action text-white bg-dark">Type Barang</a>
      <a routerLink="/list-Supplier" class="list-group-item list-group-item-action text-white bg-dark">Supplier</a>
      <a routerLink="/list-Transaksi" class="list-group-item list-group-item-action text-white bg-dark">Transaksi</a>

    </div>


	</div>
  <!-- /#sidebar-wrapper -->

  		<!-- Page Content -->
      <div id="page-content-wrapper">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
          <!-- <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span>
          </button> -->
          <div class="collapse navbar-collapse" id="navbarSupportedContent">


            <ul class="navbar-nav mt-2 mt-lg-0">
              <li class="nav-item">
                <a class="nav-link text-white" href="#/Home">Home <span class="sr-only">(current)</span></a>
              </li>
            </ul>

            <ul class="navbar-nav ml-auto mt-2 mt-lg-0" routerLinkActive="active" >

              <li class="nav-item">
                <a class="nav-link text-white" *ngIf="isLoggedIn">Hi, {{ username }}</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle text-white " id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                      Account
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" routerLink="login" *ngIf="!isLoggedIn">Sign In</a>
                  <a class="dropdown-item" routerLink="register" *ngIf="!isLoggedIn">Sign Up</a>
                  <a class="dropdown-item" (click)="logout()" *ngIf="isLoggedIn">Sign Out</a>
                </div>
              </li>

            </ul>


          </div>
        </nav>
        <!-- <div class="container"> -->
          <div id="page-content-wrapper">
          <router-outlet></router-outlet>
        <!-- </div> -->
        </div>
      </div>


</div>
