<div class="card my-5">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
      <ul class="navbar-nav mt-2 mt-lg-0">
         <li class="nav-item">
          <a class="nav-link" routerLink="/list-Transaksi">List Transaksi</a>
         </li>
       </ul>
   </nav>
<div class="card-body">
<form (ngSubmit)="onSubmitTrx()" #transaksiForm="ngForm">
<div class="form-group">
  <label for="name">Nama Transaksi</label>
  <input type="text" [(ngModel)]="trx.namaTransaksi"
    class="form-control"
    id="name"
    name="name"
    required #name="ngModel">
    <!-- placeholder="Sahampo Clear 150ml" -->
</div>


<!-- <div [hidden]="!name.pristine" class="alert alert-danger">Name is required</div> -->
<div class="form-group">
  <label for="kode">Kode Transaksi</label>
    <select type="text" [(ngModel)]="trx.kodeTransaksi"
          class="form-control"
          id="kode"
          name="kode"
          required #kode="ngModel" data-toggle="tooltip"
          data-placement="right">
          <option value="null">--Select Transaction--</option>
          <option value="TRX-IN">TRX-IN</option>
          <option value="TRX-OUT">TRX-OUT</option>
    </select>
</div>


<div class="form-group">
  <label for="total">Grand Total</label>
  <input type="number" [(ngModel)]="trx.grandTotal"
    class="form-control"
    id="total"
    name="total"
    required #total="ngModel">
</div>
<div class="form-group">
  <label for="jumlah">Jumlah Bayar</label>
  <input type="number" [(ngModel)]="trx.jumlahBayar"
    class="form-control"
    id="jumlah"
    name="jumlah"
    required #jumlah="ngModel">
</div>
<div class="form-group">
  <label for="kembalian">Kembalian</label>
  <input type="number" [(ngModel)]="trx.kembalian"
    class="form-control"
    id="kembalian"
    name="kembalian"
    required #kembalian="ngModel">
</div>
<div class="form-group">
  <label for="trxBy">Transaction By</label>
  <input type="text" [(ngModel)]="trx.transactionBy"
    class="form-control"
    id="trxBy"
    name="trxBy"
    required #trxBy="ngModel">
</div>
<!-- <div class="form-group">
  <label for="idBarang">Id Barang</label>
  <input type="text" [(ngModel)]="trx."
    class="form-control"
    id="idBarang"
    name="idBarang"
    required #idBarang="ngModel">
</div> -->
<button type="submit" [disabled]="!transaksiForm.form.valid"
  class="btn btn-info">Save</button>
</form>
</div>
</div>
