<div class="card my-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
            <ul class="navbar-nav mt-2 mt-lg-0">
               <li class="nav-item">
                <a class="nav-link text-white " >Tambah Barang</a>
               </li>
             </ul>
         </nav>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #barangForm="ngForm">
      <div class="form-group">
        <label for="name">Nama Barang</label>
        <input type="text" [(ngModel)]="barang.namaBarang"
          class="form-control"
          id="name"
          name="name"
          required #name="ngModel">
      </div>
      <div class="form-group">
        <label for="harga">Id Harga</label>
        <input type="number" [(ngModel)]="barang.idHarga"
          class="form-control"
          id="harga"
          name="harga"
          required #harga="ngModel">
      </div>
      <div class="form-group">
        <label for="idType">Id Type</label>
        <input type="number" [(ngModel)]="barang.idType"
          class="form-control"
          id="idType"
          name="idType"
          required #idSupplier="ngModel">
      </div>
      <div class="form-group">
        <label for="idSupplier">Id Supplier</label>
        <input type="number" [(ngModel)]="barang.idSupplier"
          class="form-control"
          id="idSupplier"
          name="idSupplier"
          required #idSupplier="ngModel">
      </div>
      <div class="form-group">
        <label for="stockBarang">stockBarang</label>
        <input type="number" [(ngModel)]="barang.stockBarang"
          class="form-control"
          id="stockBarang"
          name="stockBarang"
          required #stockBarang="ngModel">
      </div>
      <button type="submit" [disabled]="!barangForm.form.valid"
        class="btn btn-info">Save</button>&nbsp;

        <button
        class="btn btn-success" routerLink="/list-Barang">Back</button>
    </form>
  </div>
</div>
