<div class="card my-5">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark border-bottom">
            <ul class="navbar-nav mt-2 mt-lg-0">
               <li class="nav-item">
                <a class="nav-link text-white " >Tambah Barang</a>
               </li>
             </ul>
         </nav>
  <div class="card-body">
    <form (ngSubmit)="onSubmit()" #barangForm="ngForm">
      <div class="form-group">
        <label for="name">Nama Barang</label>
        <input type="text" [(ngModel)]="barang.namaBarang"
          class="form-control"
          id="name"
          name="name"
          required #name="ngModel">
      </div>
      <div class="form-group">
        <label for="harga">Harga Satuan</label>
          <select type="text" [(ngModel)]="selectedHarga"
          class="form-control" id="harga"
          name="harga"
          required #harga="ngModel"
          data-toggle="tooltip"
          data-placement="right">
						<option value="null">--Select Harga--</option>
						<option [ngValue]="item" *ngFor="let item of listHarga" >{{item.hargaSatuan}}</option>
					</select>
      </div>
      <div class="form-group">
        <label for="idType">Tipe Barang</label>
          <select type="text" [(ngModel)]="selectedType"
          class="form-control" id="idType"
          name="idType"
          required #idType="ngModel"
          data-toggle="tooltip"
          data-placement="right">
						<option value="null">--Select Jenis Barang--</option>
						<option [ngValue]="item" *ngFor="let item of listTypeBarang" >{{item.tipeBarang}} -- {{item.jenisBarang}}</option>
          </select>
      </div>
      <div class="form-group">
        <label for="idSupplier">Supplier</label>
          <select type="text" [(ngModel)]="selectedSupplier"
          class="form-control" id="idSupplier"
          name="idSupplier"
          required #idSupplier="ngModel"
          data-toggle="tooltip"
          data-placement="right">
						<option value="null">--Select Supplier--</option>
						<option [ngValue]="item" *ngFor="let item of listSupplier" >{{item.namaSupplier}}</option>
					</select>
      </div>
      <div class="form-group">
        <label for="stockBarang">stockBarang</label>
        <input type="number" [(ngModel)]="barang.stockBarang"
          class="form-control"
          id="stockBarang"
          name="stockBarang"
          required #stockBarang="ngModel">
      </div>
      <button type="submit" [disabled]="!barangForm.form.valid"
        class="btn btn-info" (click)="addObjectItem()" >Save</button>&nbsp;

        <button
        class="btn btn-success" routerLink="/list-Barang">Back</button>
    </form>
  </div>
</div>
